<div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-light">Giffs App</h3>
  <hr class="text-white">
  <div class="list-group list-reset">
    <a
    (click)="buscar(gif)"
    href="#"
    *ngFor="let gif of historial"
    class="list-group-item list-group-item-action">
      {{gif | titlecase}}
    </a>
  </div>

</div>
